# +----------------------------------------------------------------------------+
# |                                'mod' paths                                 |
# +----------------------------------------------------------------------------+

# ModulesPathAdd:relative/or/absolute/path

ModulesPathAdd:$TF2_MODS_PATH
ModulesPathAdd:../../../mods
ModulesPathAdd:../specific_mods

# +----------------------------------------------------------------------------+
# |                            Mesh initialization                             |
# +----------------------------------------------------------------------------+

SMesh:Topo:360:720:180:no:no:yes
SMesh:Geom:1.0:4.0:1.0
SMesh:Part:2:1:1
SMesh:InitY:initTanh(1.75):smeshInit.so

# +----------------------------------------------------------------------------+
# |                                   Fields                                   |
# +----------------------------------------------------------------------------+

# Field:numComponents:field_name:domain_name

Field:ux_N:Nodes
Field:uy_N:Nodes
Field:uz_N:Nodes

Field:T_N:Nodes


# In this simulation, the number of parallel-in-time executions is determined
# by the number of components of the fields 'u*_N'.

# +----------------------------------------------------------------------------+
# |                            Boundary conditions                             |
# +----------------------------------------------------------------------------+

# BoCo:field_name:boco_id:type(param1, ...)
# For the moment, type is one of
# Dirichlet, with one parameter per component of the field,
# Neumann, with one parameter per component of the field,
# Neumann, with no additional parameters (then the derivative is set to 0).
# BoCo:field_name:boco_id:UserGen:function(param1, ...):mod

BoCo:ux_N:Bottom :Dirichlet(0.0)
BoCo:ux_N:Top    :Dirichlet(0.0)
BoCo:ux_N:Left   :Dirichlet(0.0)
BoCo:ux_N:Right  :Dirichlet(0.0)

BoCo:uy_N:Bottom :Dirichlet(0.0)
BoCo:uy_N:Top    :Dirichlet(0.0)
BoCo:uy_N:Left   :Dirichlet(0.0)
BoCo:uy_N:Right  :Dirichlet(0.0)

BoCo:uz_N:Bottom :Dirichlet(0.0)
BoCo:uz_N:Top    :Dirichlet(0.0)
BoCo:uz_N:Left   :Dirichlet(0.0)
BoCo:uz_N:Right  :Dirichlet(0.0)

BoCo:T_N:Left    :Dirichlet(0.50)
BoCo:T_N:Right   :Dirichlet(-0.50)
BoCo:T_N:Top     :Neumann
BoCo:T_N:Bottom  :Neumann

# +----------------------------------------------------------------------------+
# |                                  Matrices                                  |
# +----------------------------------------------------------------------------+

MatrixDefault:Lap_NC
MatrixDefault:DivX_FC
MatrixDefault:DivY_FC
MatrixDefault:DivZ_FC
MatrixDefault:GradX_CF
MatrixDefault:GradY_CF
MatrixDefault:GradZ_CF
MatrixDefault:Interp_NF

# We will use a volume weighted cell-to-face / face-to-cell interpolation,
# since that is what it seems to work with the staggered formulation of the
# FSM. These volume weighted interpolators are not the default interpolators,
# so we have to initialize them by explicitly setting the pattern and the
# kernel.

Pattern:CF:p_CF_FirstNb:smeshPatterns.so
Pattern:FC:p_FC_FirstNb:smeshPatterns.so

Kernel:k_icf:k_Interp_CF_VW_ZB_FirstNb:smeshInterpolators.so
Kernel:k_ifc:k_Interp_FC_VW_ZB_FirstNb:smeshInterpolators.so

Matrix:Interp_CF:CF:k_icf
Matrix:Interp_FC:FC:k_ifc

Kernel:_1:k_One:umeshInterpolators.so
Matrix:SumFaces:FC:_1 


# For the parallel-in-time simulations to work, we can only use the CG solver,
# and it requires an SPD matrix. The current Vol_Lap_CC is symmetric, but
# negative definite so we need to negate it.

MatrixScale:Vol_Lap_CC:-1.0

# +----------------------------------------------------------------------------+
# |                                 Simulation                                 |
# +----------------------------------------------------------------------------+

# - Config ---------------------------------------------------------------------

Config:MaxIters:10
Config:Log:SIM
Config:Log:MOD

HPC2Config:-profile:-overlap:-thr=54

Param:str:updateBoussinesq:no

# - Solver ---------------------------------------------------------------------


# - Functions ------------------------------------------------------------------

ExecFunction:SetUp:init_omega        	                :utils.so
ExecFunction:SetUp:SetUp_Momentum_RK                  :fractionalStep_rk.so
ExecFunction:SetUp:init_fields                        :utils.so
ExecFunction:SetUp:SetUp_SAT_GershgorinMat_efficiency :sat.so
ExecFunction:SetUp:init_props        	                :utils.so

ExecFunction:Iter:Iter_SAT_GershgorinMat_efficiency   :sat.so
ExecFunction:Iter:RKiteration_energy                  :fractionalStep_rk.so
ExecFunction:Iter:monitor                             :utils.so

ExecFunction:WrapUp:computeTimes                      :utils.so
#ExecFunction:WrapUp:WrapUp_SaveVis	                  :fileIO.so

# - Extras ---------------------------------------------------------------------

SaveVis:FileName:data/<__SimBaseName>-Ra<Ra>-Pr<Pr>-<RKmethod>-nSims<nSims>
SaveVis:Fields:T_N@Cells:ux_N@Cells:uy_N@Cells:uz_N@Cells

# - LAUNCHER ADDITIONS ---------------------------------------------------------


